
<script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular-resource.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script type="text/javascript" src="../angular-collection.js"></script>

<script type="text/javascript">
var myApp = angular.module('myApp', ['ngCollection']);

myApp.controller('MyCtrl', ['$scope', '$collection', '$model',
function($scope, $collection, $model) {
  var data = [
    {
      id: 0,
      name: 'Number One'
    },
    {
      id: 1,
      name: 'Number Two'
    },
    {
      id: 2,
      name: 'Number Three'
    }
  ];

  // Instantiate collection
  $scope.collection = $collection('/', {}, data);

  // Add a new model
  $scope.collection.push({
    id: 3,
    name: 'Number Four'
  });

  // Change a property
  var model = $scope.collection.find({id: 0});
  model.set({'name': 'Some Other Name'});

  $scope.collection.sortBy('name');

  $scope.log = function(model){
    console.log(model);
  };
}]);
</script>

<div ng-app="myApp">
  <div ng-controller="MyCtrl">
    {{ collection }} <br><br>
    ngRepeat <br>
    <ul>
      <li ng-repeat="model in collection.models">{{ model.attributes.name }}</li>
    </ul>
    ngCollectionRepeat <br>
    <ul>
      <li ng-collection-repeat="model in collection" ng-click="log($this)">{{ model.name }}</li>
    </ul>
  </div>
</div>
